.dragDropSection{
    border: 1px dashed #5f5f5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    z-index: 100;
} 
.disablesDivStyle{
    pointer-events: none;
    opacity: .5
}

.dragZone {
    width: 97%;
    /* height: 171px; */
    text-align: center;
    border: 2px dashed #c1c1c1;
    margin: 15px 17px;
    padding: 1;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: .1em;
    transition: 150ms ease-in-out;
}

.dragZone * {
    pointer-events: none;
}

.dragDropSection h6 {
    letter-spacing: .5px;
}

.uploadIcon {
    text-align: center;
    font-size: 5em;
}

.expireTimeSelector {
    cursor: pointer;
    margin: 0px 10px;
    outline: none;
    background-color: #494949;
    color: white;
    font-weight: 600;
    padding: 0px 10px;
}
.expireTimeSelector  option {
    cursor: pointer;
    font-weight: 600;
}

#myProgress {
    width: 80%;
    background-color: #494949;
    border-radius: .2em;
}
.myBar {
    border-radius: .2em;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    line-height: 30px;
    color: #292929;
    font-weight: 600;
    transition: 150ms ease-in-out;
}

#uploadBtn {
    font-weight: 600;
    width: 80%;
    padding: .3em;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    background-color: #4e74ff;
    color: white;
    cursor: pointer;
    border-radius: .2em;
    transition: 150ms ease-in-out;
}

#uploadBtn:hover {
    background-color: #3456d3;
    transition: 150ms ease-in-out;
}

#uploadBtn:active{
    border: 1px solid rgb(109, 109, 109);
}

#uploadBtn:disabled {
    opacity: .3;
    background-color: #6767ff;
    cursor: auto;
}

.dragDropSection h6, #myProgress, #uploadBtn{
    margin: .5em 0em;
}

#dragSpan{
    color: #4e74ff;
    cursor: pointer;
}

.dragEnterStyleOnValidInput{
    /* cursor: vertical-text; */
    border-color: green;
    background-color: rgba(144, 238, 144, 0.137);
    transition: 150ms ease-in-out;
}

.dragEnterStyleOnInvalidValidInput{
    /* cursor: no-drop; */
    border-color: darkred;
    background-color: rgba(255, 0, 0, 0.137);
    transition: 150ms ease-in-out;
}