#uploadDiv{
    display: grid;
    grid-template-rows: 10vh auto;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

h3.logo {
    display: flex;
    align-items: center;
    padding: 0em 3em;
    letter-spacing: 1px;
    background-color: rgb(41, 41, 41);
}

.logoLink{
    text-decoration: none;
    color: whitesmoke;
}